<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_Mandrill>
             <version>1.0.5</version>
        </Ebizmarts_Mandrill>
    </modules>
    <global>
        <models>
            <mandrill>
                <class>Ebizmarts_Mandrill_Model</class>
            </mandrill>
            <core>
                <rewrite>
                    <email_template>Ebizmarts_Mandrill_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <blocks>
            <mandrill>
                <class>Ebizmarts_Mandrill_Block</class>
            </mandrill>
        </blocks>
        <helpers>
            <mandrill>
                <class>Ebizmarts_Mandrill_Helper</class>
            </mandrill>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Ebizmarts_Mandrill>
                    <files>
                        <default>Ebizmarts_Mandrill.csv</default>
                    </files>
                </Ebizmarts_Mandrill>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <mandrill before="Mage_Adminhtml">Ebizmarts_Mandrill_Adminhtml</mandrill>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>
    <adminhtml>
    	<layout>
	        <updates>
	            <mandrill>
	                <file>mandrill.xml</file>
	            </mandrill>
	        </updates>
    	</layout>
        <translate>
            <modules>
                <Ebizmarts_Mandrill>
                    <files>
                        <default>Ebizmarts_Mandrill.csv</default>
                    </files>
                </Ebizmarts_Mandrill>
            </modules>
        </translate>
    </adminhtml>
    <default>
    	<mandrill>
    		<general>
	    		<active>0</active>
    		</general>
    	</mandrill>
    </default>
</config>
