<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_Mandrill>
            <version>2.0.7</version>
        </Ebizmarts_Mandrill>
    </modules>
    <global>
        <models>
            <ebizmarts_mandrill>
                <class>Ebizmarts_Mandrill_Model</class>
                <resourceModel>ebizmarts_mandrill_resource</resourceModel>
            </ebizmarts_mandrill>
            <ebizmarts_mandrill_resource>
                <class>Ebizmarts_Mandrill_Model_Resource</class>
            </ebizmarts_mandrill_resource>
            <core>
                <rewrite>
                    <email_template>Ebizmarts_Mandrill_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <blocks>
            <ebizmarts_mandrill>
                <class>Ebizmarts_Mandrill_Block</class>
            </ebizmarts_mandrill>
        </blocks>
        <helpers>
            <ebizmarts_mandrill>
                <class>Ebizmarts_Mandrill_Helper</class>
            </ebizmarts_mandrill>
        </helpers>

    </global>
    <frontend>
        <translate>
            <modules>
                <Ebizmarts_Mandrill>
                    <files>
                        <default>Ebizmarts_Mandrill.csv</default>
                    </files>
                </Ebizmarts_Mandrill>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mandrill after="Mage_Adminhtml">Ebizmarts_Mandrill_Adminhtml</mandrill>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mandrill>
                    <file>ebizmarts/mandrill.xml</file>
                </mandrill>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ebizmarts_Mandrill>
                    <files>
                        <default>Ebizmarts_Mandrill.csv</default>
                    </files>
                </Ebizmarts_Mandrill>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <mandrill>
            <general>
                <active>0</active>
            </general>
        </mandrill>
    </default>
</config>