<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_MageMonkeyApi>
            <version>0.0.6</version>
        </Ebizmarts_MageMonkeyApi>
    </modules>
    <global>
        <models>
            <monkeyapi>
                <class>Ebizmarts_MageMonkeyApi_Model</class>
                <resourceModel>monkeyapi_resource</resourceModel>
            </monkeyapi>
            <monkeyapi_resource>
                <class>Ebizmarts_MageMonkeyApi_Model_Resource</class>
                <deprecatedNode>monkeyapi_mysql4</deprecatedNode>
                <entities>
                    <application>
                        <table>monkeyapi_application</table>
                    </application>
                    <log>
                        <table>monkeyapi_request_log</table>
                    </log>
                </entities>
            </monkeyapi_resource>
        </models>
        <resources>
            <monkeyapi_setup>
                <setup>
                    <module>Ebizmarts_MageMonkeyApi</module>
                </setup>
            </monkeyapi_setup>
        </resources>
        <blocks>
            <monkeyapi>
                <class>Ebizmarts_MageMonkeyApi_Block</class>
            </monkeyapi>
        </blocks>
        <helpers>
            <monkeyapi>
                <class>Ebizmarts_MageMonkeyApi_Helper</class>
            </monkeyapi>
        </helpers>
        <monkeyapi_errorcodes>
            <code_4001>
                <code>4001</code>
                <message><![CDATA[POST data is not a valid JSON.]]></message>
            </code_4001>
            <code_4002>
                <code>4002</code>
                <message><![CDATA[POST data is not complete.]]></message>
            </code_4002>
            <code_4003>
                <code>4003</code>
                <message><![CDATA[Cannot activate, key does not exist or was already activated.]]></message>
            </code_4003>
            <code_4004>
                <code>4004</code>
                <message><![CDATA[Invalid credentials supplied.]]></message>
            </code_4004>
            <code_4005>
                <code>4005</code>
                <message><![CDATA[Please specify the device id (uuid).]]></message>
            </code_4005>
            <code_4051>
                <code>4051</code>
                <message><![CDATA[Only POST requests.]]></message>
            </code_4051>
            <code_4052>
                <code>4052</code>
                <message><![CDATA[Only GET requests.]]></message>
            </code_4052>
        </monkeyapi_errorcodes>
        <ignoredModules> <!-- To avoid Mage_Log to slow down things -->
            <entities>
                <monkeyapi />
            </entities>
        </ignoredModules>
    </global>
    <frontend>
        <routers>
            <monkeyapi>
                <use>standard</use>
                <args>
                    <module>Ebizmarts_MageMonkeyApi</module>
                    <frontName>mailchimp</frontName>
                </args>
            </monkeyapi>
        </routers>
        <translate>
            <modules>
                <Ebizmarts_MageMonkeyApi>
                    <files>
                        <default>Ebizmarts_MageMonkeyApi.csv</default>
                    </files>
                </Ebizmarts_MageMonkeyApi>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <monkeyapi before="Mage_Adminhtml">Ebizmarts_MageMonkeyApi_Adminhtml</monkeyapi>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <monkeyapi>
                    <file>ebizmarts/monkeyapi.xml</file>
                </monkeyapi>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ebizmarts_MageMonkeyApi>
                    <files>
                        <default>Ebizmarts_MageMonkeyApi.csv</default>
                    </files>
                </Ebizmarts_MageMonkeyApi>
            </modules>
        </translate>
    </adminhtml>
</config>