<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_MageMonkey>
             <version>0.0.1</version>
        </Ebizmarts_MageMonkey>
    </modules>
    <global>
    	<events>
            <newsletter_subscriber_save_after>
                <observers>
                    <monkey_subscribe_observer>
                        <class>monkey/observer</class>
                        <method>handleSubscriber</method>
                    </monkey_subscribe_observer>
                </observers>
            </newsletter_subscriber_save_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <monkey_subscribe_delete_observer>
                        <class>monkey/observer</class>
                        <method>handleSubscriberDeletion</method>
                    </monkey_subscribe_delete_observer>
                </observers>
            </newsletter_subscriber_delete_after>
    	</events>
        <models>
            <monkey>
                <class>Ebizmarts_MageMonkey_Model</class>
                <resourceModel>monkey_mysql4</resourceModel>
            </monkey>
            <monkey_mysql4>
                <class>Ebizmarts_MageMonkey_Model_Mysql4</class>
                <entities>
                    <apidebug><table>magemonkey_api_debug</table></apidebug>
                </entities>
            </monkey_mysql4>
        </models>
        <resources>
            <monkey_setup>
                <setup>
                    <module>Ebizmarts_MageMonkey</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </monkey_setup>
            <monkey_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </monkey_write>
            <monkey_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </monkey_read>
        </resources>
        <blocks>
            <monkey>
                <class>Ebizmarts_MageMonkey_Block</class>
            </monkey>
        </blocks>
        <helpers>
            <monkey>
                <class>Ebizmarts_MageMonkey_Helper</class>
            </monkey>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Ebizmarts_MageMonkey>
                    <files>
                        <default>Ebizmarts_MageMonkey.csv</default>
                    </files>
                </Ebizmarts_MageMonkey>
            </modules>
        </translate>
        <routers>
            <monkey>
                <use>standard</use>
                <args>
                    <module>Ebizmarts_MageMonkey</module>
                    <frontName>monkey</frontName>
                </args>
            </monkey>
        </routers>
    </frontend>
    <adminhtml>
    	<layout>
	        <updates>
	            <magemonkey>
	                <file>magemonkey.xml</file>
	            </magemonkey>
	        </updates>
    	</layout>
        <translate>
            <modules>
                <Ebizmarts_MageMonkey>
                    <files>
                        <default>Ebizmarts_MageMonkey.csv</default>
                    </files>
                </Ebizmarts_MageMonkey>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_monkey>
                <observers>
                    <monkey_save_config>
                        <class>monkey/observer</class>
                        <method>saveConfig</method>
                    </monkey_save_config>
                </observers>
            </admin_system_config_changed_section_monkey>
        </events>
    </adminhtml>
    <default>
    	<monkey>
    		<general>
	    		<active>0</active>
	    		<double_optin><![CDATA[SEE: System->Configuration->Customers->Newsletter->Subscription Options->Need to Confirm]]></double_optin>
    		</general>
    	</monkey>
    </default>
</config>