<?xml version="1.0"?>
<config>
    <sections>
        <monkey translate="label" module="monkey">
            <class>monkey-section</class>
            <label>Mailchimp Configuration</label>
            <header_css>mailchimp-header</header_css>
            <tab>customer</tab>
            <sort_order>404</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment">
                    <comment><![CDATA[<a href="http://mailchimp.com/signup/?pid=ebizmart&source=website" target="_blank">Get a free MailChimp account now</a>]]>
                    </comment>
                    <label>MageMonkey - MailChimp integration by ebizmarts</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <apikey translate="label comment">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Your MailChimp API Key.<br/><a target ='_blank' href ='http://kb.mailchimp.com/article/where-can-i-find-my-api-key/'>Where can I find my API Keys?</a>]]></comment>
                        </apikey>
                        <account_details translate="label comment">
                            <label>Account details</label>
                            <frontend_model>monkey/adminhtml_system_config_account</frontend_model>
                            <source_model>monkey/system_config_source_account</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Trial mode: Whether the Account is in Trial mode (can only send campaigns to less than 100 emails).<br/><a target='_blank' href='http://mailchimp.com/pricing/'>More about MailChimp plans.</a>]]></comment>
                        </account_details>
                        <list translate="label comment">
                            <label>General Subscription</label>
                            <frontend_type>select</frontend_type>
                            <source_model>monkey/system_config_source_list</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment>Synchronize Magento's General Subscription List with this MailChimp list</comment>
                        </list>
                        <additional_lists translate="label comment">
                            <label>Additional Lists</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>monkey/system_config_source_list</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment>All selected lists will be available to customers as additionals lists</comment>
                        </additional_lists>
                        <double_optin translate="label comment">
                            <label>Double opt-in</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<b>IMPORTANT</b>: Should be set to <b>Yes</b>. Abusing this may cause your account to be suspended.<br/><a target='_blank' href='http://kb.mailchimp.com/article/how-does-confirmed-optin-or-double-optin-work/'>How does double opt-in work?</a>]]></comment>
                        </double_optin>
                        <ecommerce360 translate="label comment">
                            <label>Enable Ecommerce360 for</label>
                            <frontend_type>select</frontend_type>
                            <source_model>monkey/system_config_source_ecommerce360</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment><![CDATA[Send new orders to MailChimp using Ecommerce360.<br/><a target='_blank' href='http://kb.mailchimp.com/article/how-do-i-turn-on-ecommerce360-tracking-on-my-campaigns/'>How do I turn on Ecommerce360 tracking on my campaigns?</a>]]></comment>
                        </ecommerce360>
                        <map_fields translate="label comment">
                            <label>Customer Fields Mapping</label>
                            <frontend_model>monkey/adminhtml_system_config_form_field_mapfields</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[<a target="_blank" href="http://kb.mailchimp.com/article/all-the-merge-tags-cheatsheet">All The Merge Tags (Cheatsheet)</a>]]></comment>
                        </map_fields>
                        <guest_name translate="label comment">
                            <label>First Name for Guests subscribers</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This value will be sent as FNAME to MailChimp</comment>
                        </guest_name>
                        <guest_lastname translate="label comment">
                            <label>Last Name for Guests subscribers</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This value will be sent as LNAME to MailChimp</comment>
                        </guest_lastname>
                        <checkout_subscribe translate="label comment">
                            <label>Subscribe On Checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>monkey/system_config_source_checkoutsubscribe</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show Newsletter Subscribe checkbox in the last Checkout Step (Order Review)</comment>
                        </checkout_subscribe>
                        <!--<intgr translate="label comment">
                            <label>Enable Interest Groups</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment>Allow customers to select over the existing groups per each list.</comment>
                        </intgr>

						<sts translate="label">
                            <label>Enable STS feature</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>3</show_in_default>
                            <show_in_website>3</show_in_website>
                            <show_in_store>3</show_in_store>
                            <comment>This will send all emails using the Amazon Simple Email Service so you must be registered in to use this feature.</comment>
                        </sts>
                    -->
                    </fields>
                </general>
				<!--<subscribe translate="label">
                    <label>MailChimp Subscribe Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
	                    <forece_checkout translate="label">
                            <label>Force Checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Subscription mandatory and not visible for guests and new customers at checkout.</comment>
                        </forece_checkout>
	                    <forece_register translate="label">
                            <label>Force Register</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Subscription mandatory and not visible for new customers at register.</comment>
                        </forece_register>
                        <email_type translate="label">
                            <label>Email Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailchimp/source_emailType</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Email type preference for the email, defaults to HTML.</comment>
                        </email_type>
                        <double_optin translate="label comment">
                            <label>Double Optin</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Flag to control whether a double opt-in confirmation message is sent, defaults to Yes. ABUSING THIS MAY CAUSE YOUR ACCOUNT TO BE SUSPENDED. Magento note: If user subscribes own login email - confirmation is not needed. </comment>
                        </double_optin>
                        <update_existing translate="label comment">
                            <label>Update Existing</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Flag to control whether an existing subscribers should be updated instead of throwing and error, defaults to No.</comment>
                        </update_existing>
                        <replace_interests translate="label comment">
                            <label>Replace Interests</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Flag to determine whether we replace the interest groups with the groups provided, or we add the provided groups to the member's interest groups, defaults to Yes.</comment>
                        </replace_interests>
                        <send_welcome translate="label comment">
                            <label>Send Welcome</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If your double_optin is false and this is true, MailChimp will send your lists Welcome Email if this subscribe succeeds - this will *not* fire if we end up updating an existing subscriber. If double_optin is true, this has no effect, defaults to No.</comment>
                        </send_welcome>
                        <success_disabled translate="label comment">
                            <label>Disable Success/Welcome emails</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This option will disable the success or welcome emails to be send to the subscriber.</comment>
                        </success_disabled>
						<mapping_fields translate="label comment">
							<label>General Customer Mapping</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>You can chose which fields will be synchronized with MailChimp using the following format: '&lt; customer='attribute_code' mailchimp='merge_tag'&gt;'. If you want to send the default billing address, you must set 'address' as 'attribute_code'.</comment>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mapping_fields>
						<guest_name translate="label comment">
							<label>Default name for guests subscribers</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </guest_name>
						<guest_lastname translate="label comment">
							<label>Default lastname for guests subscribers</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </guest_lastname>
                    </fields>
                </subscribe>
                <unsubscribe translate="label">
                    <label>MailChimp Unsubscribe Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <delete_member translate="label">
                            <label>Delete Member</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Flag to completely delete the member from your list instead of just unsubscribing, default to No.</comment>
                        </delete_member>
                        <send_goodbye translate="label comment">
                            <label>Send Goodbye</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Flag to send the goodbye email to the email address, defaults to Yes.</comment>
                        </send_goodbye>
                        <send_notify translate="label comment">
                            <label>Send Notify</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Flag to send the unsubscribe notification email to the address defined in the list email notification settings, defaults to Yes.</comment>
                        </send_notify>
                    </fields>
                </unsubscribe>-->
            </groups>
        </monkey>
    </sections>
</config>