ul.tabs a.monkey-section:hover { background-color:#D8E6E6; background-image:url(images/tabs_link_over_bg.gif); }

ul.tabs a.monkey-section,
ul.tabs a.monkey-section:hover {border-bottom:none; padding:0.5em 0.5em 0 1.5em; text-indent:-9999px;}

ul.tabs a.monkey-section span,
ul.tabs a.monkey-section:hover span { background:url(mailchimp-tab.png) no-repeat 0 0; overflow:hidden; padding:0; width:120px; height:26px;}

ul.tabs a.monkey-section.active, ul.tabs a.monkey-section.active:hover {background-color: white;}

h3.mailchimp-header { background:url(mailchimp-tab.png) no-repeat 0 0; height: 26px; overflow:hidden; padding:0; width:120px; text-indent:-9999px; }

/*h3.mailchimp-header { background:url(mailchimp-connected-ebizmarts-title.png) no-repeat 0 0; height: 64px; overflow:hidden; padding:0; width:200px; text-indent:-9999px; }*/

/*fieldset#monkey_general {background:url(mailchimp-section-background.png) no-repeat right top; }*/

fieldset#monkey_general p.note a {background:url(mailchimp-ico.png) no-repeat left top; padding-left:18px; padding-bottom: 4px;}

.mailchimp-nowarp {white-space:nowrap;}

button.add span span, button.cancel span span, button.delete span span {
    background-image: none;
    padding-left: 0;
}
