<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_SweetMonkey>
            <version>1.1.9</version>
        </Ebizmarts_SweetMonkey>
    </modules>
    <global>
        <models>
            <sweetmonkey>
                <class>Ebizmarts_SweetMonkey_Model</class>
            </sweetmonkey>
        </models>
        <blocks>
            <sweetmonkey>
                <class>Ebizmarts_SweetMonkey_Block</class>
            </sweetmonkey>
        </blocks>
        <helpers>
            <sweetmonkey>
                <class>Ebizmarts_SweetMonkey_Helper</class>
            </sweetmonkey>
        </helpers>
        <events>
            <rewards_points_indexer_update>
                <observers>
                    <sweetmonkey_send_vars>
                        <class>sweetmonkey/observer</class>
                        <method>pointsEvent</method>
                    </sweetmonkey_send_vars>
                </observers>
            </rewards_points_indexer_update>
            <model_save_after>
                <observers>
                    <sweetmonkey_send_vars>
                        <class>sweetmonkey/observer</class>
                        <method>customerRewardSave</method>
                    </sweetmonkey_send_vars>
                </observers>
            </model_save_after>
            <magemonkey_mergevars_after>
                <observers>
                    <sweetmonkey_merge_vars>
                        <class>sweetmonkey/observer</class>
                        <method>attachTbtMergeVars</method>
                    </sweetmonkey_merge_vars>
                </observers>
            </magemonkey_mergevars_after>
        </events>

    </global>
    <frontend>
        <events>
            <customer_login>
                <observers>
                    <sweetmonkey_send_vars>
                        <class>sweetmonkey/observer</class>
                        <method>customerLogin</method>
                    </sweetmonkey_send_vars>
                </observers>
            </customer_login>
        </events>
        <translate>
            <modules>
                <Ebizmarts_SweetMonkey>
                    <files>
                        <default>Ebizmarts_SweetMonkey.csv</default>
                    </files>
                </Ebizmarts_SweetMonkey>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sweetmonkey before="Mage_Adminhtml">Ebizmarts_SweetMonkey_Adminhtml</sweetmonkey>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <magemonkey>
                    <file>magemonkey.xml</file>
                </magemonkey>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ebizmarts_SweetMonkey>
                    <files>
                        <default>Ebizmarts_SweetMonkey.csv</default>
                    </files>
                </Ebizmarts_SweetMonkey>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_sweetmonkey>
                <observers>
                    <ebizmarts_sweetmonkey_save_config>
                        <class>sweetmonkey/observer</class>
                        <method>saveConfig</method>
                    </ebizmarts_sweetmonkey_save_config>
                </observers>
            </admin_system_config_changed_section_sweetmonkey>
        </events>
    </adminhtml>
    <default>
        <sweetmonkey>
            <general>
                <active>0</active>
                <merge_vars><![CDATA[a:4:{i:0;a:2:{s:8:"var_code";s:3:"PTS";s:9:"var_label";s:13:"Point Balance";}i:1;a:2:{s:8:"var_code";s:6:"PTSEXP";s:9:"var_label";s:16:"Point Expiration";}i:2;a:2:{s:8:"var_code";s:7:"PTSEARN";s:9:"var_label";s:24:"Last time earning points";}i:3;a:2:{s:8:"var_code";s:8:"PTSSPENT";s:9:"var_label";s:25:"Last time spending points";}}]]></merge_vars>
                <email_points>10</email_points>
            </general>
        </sweetmonkey>
    </default>
    <crontab>
        <jobs>
            <sweetmonkey_send_vars>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sweetmonkey/cron::pushMergeVarsForCustomers</model>
                </run>
            </sweetmonkey_send_vars>
        </jobs>
    </crontab>
</config>