.adminhtml-abandonedorder-dashboard .warning-msg {
    background: url("../images/warning_msg_icon.gif") no-repeat scroll 5px 2px #E6E6E6 !important;
    padding: 2px 2px 2px 30px;
    margin-top: 10px;
}