<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_Cron>
            <version>1.0.0</version>
        </Ebizmarts_Cron>
    </modules>
    <global>
        <models>
            <ebizmarts_cron>
                <class>Ebizmarts_Cron_Model</class>
            </ebizmarts_cron>
        </models>
        <blocks>
            <ebizmarts_cron>
                <class>Ebizmarts_Cron_Block</class>
            </ebizmarts_cron>
        </blocks>
        <helpers>
            <ebizmarts_cron>
                <class>Ebizmarts_Cron_Helper</class>
            </ebizmarts_cron>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Ebizmarts_Cron>
                    <files>
                        <default>Ebizmarts_Cron.csv</default>
                    </files>
                </Ebizmarts_Cron>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ebizmarts_cron>
                    <file>ebizmarts/cron.xml</file>
                </ebizmarts_cron>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ebizmarts_Cron>
                    <files>
                        <default>Ebizmarts_Cron.csv</default>
                    </files>
                </Ebizmarts_Cron>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ebizmarts_cron before="Mage_Adminhtml">Ebizmarts_Cron_Adminhtml</ebizmarts_cron>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <ebizmarts_cron>
            <apiendpoint><![CDATA[http://stripetest.local.com/]]></apiendpoint>
            <name><![CDATA[ebizmarts corp]]></name>
            <pk><![CDATA[pk_test_zyFLO9LueDusKPPgLkOKVfci]]></pk>
            <image><![CDATA[https://pbs.twimg.com/profile_images/433212467431211008/mWvo9DGm_200x200.png]]></image>
        </ebizmarts_cron>
    </default>
</config>