<?xml version="1.0"?>
<!--
    Configuration file for Ebizmarts_AbandonedCart module, touch at you entire responsibility

    @category   Ebizmarts
    @package    Ebizmarts_AbandonedCart
    @author     Ebizmarts Team <info@ebizmarts.com>
    @license    http://opensource.org/licenses/osl-3.0.php
-->
<config>
    <modules>
        <Ebizmarts_AbandonedCart>
            <version>1.2.0</version>
        </Ebizmarts_AbandonedCart>
    </modules>
    <global>
        <template>
            <email>
                <ebizmarts_abandonedcart_general_template1 translate="label" module="ebizmarts_abandonedcart">
                    <label>First Abandoned Cart Mail</label>
                    <file>ebizmarts/abandonedcart/abandoned_cart_mail_1.html</file>
                    <type>html</type>
                </ebizmarts_abandonedcart_general_template1>
                <ebizmarts_abandonedcart_general_template2 translate="label" module="ebizmarts_abandonedcart">
                    <label>Second Abandoned Cart Mail</label>
                    <file>ebizmarts/abandonedcart/abandoned_cart_mail_2.html</file>
                    <type>html</type>
                </ebizmarts_abandonedcart_general_template2>
                <ebizmarts_abandonedcart_general_template3 translate="label" module="ebizmarts_abandonedcart">
                    <label>Third Abandoned Cart Mail</label>
                    <file>ebizmarts/abandonedcart/abandoned_cart_mail_3.html</file>
                    <type>html</type>
                </ebizmarts_abandonedcart_general_template3>
                <ebizmarts_abandonedcart_general_template4 translate="label" module="ebizmarts_abandonedcart">
                    <label>Fourth Abandoned Cart Mail</label>
                    <file>ebizmarts/abandonedcart/abandoned_cart_mail_generic.html</file>
                    <type>html</type>
                </ebizmarts_abandonedcart_general_template4>
                <ebizmarts_abandonedcart_general_template5 translate="label" module="ebizmarts_abandonedcart">
                    <label>Fifth Abandoned Cart Mail</label>
                    <file>ebizmarts/abandonedcart/abandoned_cart_mail_generic.html</file>
                    <type>html</type>
                </ebizmarts_abandonedcart_general_template5>
                <ebizmarts_abandonedcart_emailcatcher_popup_coupon_template>
                    <label>Pop up Coupon Email</label>
                    <file>ebizmarts/abandonedcart/popup_coupon_template.html</file>
                    <type>html</type>
                </ebizmarts_abandonedcart_emailcatcher_popup_coupon_template>
                <ebizmarts_abandonedcart_A_Btesting_template1 translate="label" module="ebizmarts_abandonedcart">
                    <label>First A/B Testing Abandoned Cart Mail</label>
                    <file>ebizmarts/abandonedcart/abandoned_cart_mail_generic.html</file>
                    <type>html</type>
                </ebizmarts_abandonedcart_A_Btesting_template1>
                <ebizmarts_abandonedcart_A_Btesting_template2 translate="label" module="ebizmarts_abandonedcart">
                    <label>Second A/B Testing Abandoned Cart Mail</label>
                    <file>ebizmarts/abandonedcart/abandoned_cart_mail_generic.html</file>
                    <type>html</type>
                </ebizmarts_abandonedcart_A_Btesting_template2>
                <ebizmarts_abandonedcart_A_Btesting_template3 translate="label" module="ebizmarts_abandonedcart">
                    <label>Third A/B Testing Abandoned Cart Mail</label>
                    <file>ebizmarts/abandonedcart/abandoned_cart_mail_generic.html</file>
                    <type>html</type>
                </ebizmarts_abandonedcart_A_Btesting_template3>
                <ebizmarts_abandonedcart_A_Btesting_template4 translate="label" module="ebizmarts_abandonedcart">
                    <label>Fourth A/B Testing Abandoned Cart Mail</label>
                    <file>ebizmarts/abandonedcart/abandoned_cart_mail_generic.html</file>
                    <type>html</type>
                </ebizmarts_abandonedcart_A_Btesting_template4>
                <ebizmarts_abandonedcart_A_Btesting_template5 translate="label" module="ebizmarts_abandonedcart">
                    <label>Fifth A/B Testing Abandoned Cart Mail</label>
                    <file>ebizmarts/abandonedcart/abandoned_cart_mail_generic.html</file>
                    <type>html</type>
                </ebizmarts_abandonedcart_A_Btesting_template5>
            </email>
        </template>
        <ebizmarts_abandonedcart>
            <mandrill-tag>AbandonedCart</mandrill-tag>
        </ebizmarts_abandonedcart>
        <models>
            <ebizmarts_abandonedcart>
                <class>Ebizmarts_AbandonedCart_Model</class>
                <resourceModel>ebizmarts_abandonedcart_resource</resourceModel>
            </ebizmarts_abandonedcart>
            <ebizmarts_abandonedcart_resource>
                <class>Ebizmarts_AbandonedCart_Model_Resource</class>
                <deprecatedNode>ebizmarts_abandonedcart_mysql4</deprecatedNode>
                <entities>
                    <mailssent>
                        <table>magemonkey_mails_sent</table>
                    </mailssent>
                    <popup>
                        <table>ebizmarts_abandonedcart_popup</table>
                    </popup>
                    <abtesting>
                        <table>ebizmarts_abandonedcart_abtesting</table>
                    </abtesting>
                </entities>
            </ebizmarts_abandonedcart_resource>
        </models>
        <blocks>
            <ebizmarts_abandonedcart>
                <class>Ebizmarts_AbandonedCart_Block</class>
            </ebizmarts_abandonedcart>
        </blocks>
        <helpers>
            <ebizmarts_abandonedcart>
                <class>Ebizmarts_AbandonedCart_Helper</class>
            </ebizmarts_abandonedcart>
        </helpers>
        <resources>
            <ebizmarts_abandonedcart_setup>
                <setup>
                    <module>Ebizmarts_AbandonedCart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ebizmarts_abandonedcart_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <ebizmarts_abandonedcart_flag>
                    <to_order>*</to_order>
                </ebizmarts_abandonedcart_flag>
            </sales_convert_quote>
        </fieldsets>
        <events>
            <sales_quote_save_after>
                <observers>
                    <ebizmarts_abandoned_quote_init>
                        <class>ebizmarts_abandonedcart/eventObserver</class>
                        <method>loadCustomer</method>
                    </ebizmarts_abandoned_quote_init>
                </observers>
            </sales_quote_save_after>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ebizmarts_Abandonedcart after="Mage_Adminhtml">Ebizmarts_AbandonedCart_Adminhtml</Ebizmarts_Abandonedcart>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <ebizmarts_abandonedcart>
                    <file>ebizmarts/abandonedcart.xml</file>
                </ebizmarts_abandonedcart>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ebizmarts_AbandonedCart>
                    <files>
                        <default>Ebizmarts_AbandonedCart.csv</default>
                    </files>
                </Ebizmarts_AbandonedCart>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_ebizmarts_abandonedcart>
                <observers>
                    <ebizmarts_abandoned_save_config>
                        <class>ebizmarts_abandonedcart/eventObserver</class>
                        <method>saveConfig</method>
                    </ebizmarts_abandoned_save_config>
                </observers>
            </admin_system_config_changed_section_ebizmarts_abandonedcart>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <ebizmarts_abandonedcart>
                <use>standard</use>
                <args>
                    <module>Ebizmarts_AbandonedCart</module>
                    <frontName>ebizmarts_abandonedcart</frontName>
                </args>
            </ebizmarts_abandonedcart>
        </routers>
        <layout>
            <updates>
                <ebizmarts_abandonedcart>
                    <file>ebizmarts/abandonedcart.xml</file>
                </ebizmarts_abandonedcart>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ebizmarts_AbandonedCart>
                    <files>
                        <default>Ebizmarts_AbandonedCart.csv</default>
                    </files>
                </Ebizmarts_AbandonedCart>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <ebizmarts_abandoned_cart>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ebizmarts_abandonedcart/cron::abandoned</model>
                </run>
            </ebizmarts_abandoned_cart>
            <ebizmarts_abandoned_cart_clean_expiredcoupons>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ebizmarts_abandonedcart/cron::cleanAbandonedCartExpiredCoupons</model>
                </run>
            </ebizmarts_abandoned_cart_clean_expiredcoupons>
        </jobs>
    </crontab>
    <default>
        <ebizmarts_abandonedcart>
            <general>
                <max>2</max>
                <subject1>Having trouble?</subject1>
                <subject2>Limited stock</subject2>
                <subject3>Coupon Discount!</subject3>
                <unit>1</unit>
                <days1>1</days1>
                <days2>1</days2>
                <days3>2</days3>
                <sendon>3</sendon>
                <mandrill-tag>AbandonedCart</mandrill-tag>
                <autologin>0</autologin>
                <page>checkout/cart</page>
            </general>
            <emailcatcher>
                <popup_cancel>1</popup_cancel>
                <popup_subscription>1</popup_subscription>
                <popup_heading>Welcome to our store!</popup_heading>
                <popup_text>Please enter your email address to get the most out of our store and improve your shopping experience.</popup_text>
                <popup_width>50</popup_width>
                <popup_height>20</popup_height>
                <popup_cookie_time>1</popup_cookie_time>
                <popup_insist>1</popup_insist>
                <popup_coupon_mandrill_tag>popup_coupon</popup_coupon_mandrill_tag>
                <popup_coupon_mail_subject>You won a coupon!</popup_coupon_mail_subject>
            </emailcatcher>
        </ebizmarts_abandonedcart>
    </default>
</config>