<?xml version="1.0"?>
<!--
    Configuration file for Ebizmarts_Autoresponder module, touch at you entire responsibility

    Author : Ebizmarts <info@ebizmarts.com>
    Date   : 4/28/13
    Time   : 11:20 AM
    File   : config.xml
    Module : Ebizmarts_Magemonkey
-->
<config>
    <modules>
        <Ebizmarts_Autoresponder>
            <version>0.1.0</version>
        </Ebizmarts_Autoresponder>
    </modules>
    <global>
        <models>
            <ebizmarts_autoresponder>
                <class>Ebizmarts_Autoresponder_Model</class>
            </ebizmarts_autoresponder>
        </models>
        <blocks>
            <ebizmarts_autoresponder>
                <class>Ebizmarts_Autoresponder_Block</class>
            </ebizmarts_autoresponder>
        </blocks>
        <helpers>
            <ebizmarts_autoresponder>
                <class>Ebizmarts_Autoresponder_Helper</class>
            </ebizmarts_autoresponder>
        </helpers>
        <resources>
            <ebizmarts_autoresponder_setup>
                <setup>
                    <module>Ebizmarts_Autoresponder</module>
                </setup>
            </ebizmarts_autoresponder_setup>
        </resources>
        <template>
            <email>
                <ebizmarts_autoresponder_neworder_template translate="label" module="ebizmarts_autoresponder">
                    <label>New Order Email</label>
                    <file>ebizmarts/autoresponder/neworder.html</file>
                    <type>html</type>
                </ebizmarts_autoresponder_neworder_template>
            </email>
        </template>
        <template>
            <email>
                <ebizmarts_autoresponder_related_template translate="label" module="ebizmarts_autoresponder">
                    <label>Related Products Email</label>
                    <file>ebizmarts/autoresponder/relatedproducts.html</file>
                    <type>html</type>
                </ebizmarts_autoresponder_related_template>
            </email>
        </template>
        <template>
            <email>
                <ebizmarts_autoresponder_review_template translate="label" module="ebizmarts_autoresponder">
                    <label>Review Email</label>
                    <file>ebizmarts/autoresponder/review.html</file>
                    <type>html</type>
                </ebizmarts_autoresponder_review_template>
            </email>
        </template>
        <template>
            <email>
                <ebizmarts_autoresponder_birthday_template translate="label" module="ebizmarts_autoresponder">
                    <label>Customer Birthday Email</label>
                    <file>ebizmarts/autoresponder/birthday.html</file>
                    <type>html</type>
                </ebizmarts_autoresponder_birthday_template>
            </email>
        </template>
        <template>
            <email>
                <ebizmarts_autoresponder_registration_template translate="label" module="ebizmarts_autoresponder">
                    <label>Registration Email</label>
                    <file>ebizmarts/autoresponder/registration.html</file>
                    <type>html</type>
                </ebizmarts_autoresponder_registration_template>
            </email>
        </template>
        <template>
            <email>
                <ebizmarts_autoresponder_newsletter_template translate="label" module="ebizmarts_autoresponder">
                    <label>Newsletter Registration Email</label>
                    <file>sales/ebizmarts/autoresponder/newsletter.html</file>
                    <type>html</type>
                </ebizmarts_autoresponder_newsletter_template>
            </email>
        </template>
        <template>
            <email>
                <ebizmarts_autoresponder_noactivity_template translate="label" module="ebizmarts_autoresponder">
                    <label>No Customer Activity Email</label>
                    <file>sales/ebizmarts/autoresponder/noactivity.html</file>
                    <type>html</type>
                </ebizmarts_autoresponder_noactivity_template>
            </email>
        </template>
        <template>
            <email>
                <ebizmarts_autoresponder_wishlist_template translate="label" module="ebizmarts_autoresponder">
                    <label>Wishlist Email</label>
                    <file>sales/ebizmarts/autoresponder/wishlist.html</file>
                    <type>html</type>
                </ebizmarts_autoresponder_wishlist_template>
            </email>
        </template>
    </global>
    <crontab>
        <jobs>
            <ebizmarts_autoresponder>
                <schedule>
                    <cron_expr>0 */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ebizmarts_autoresponder/cron::process</model>
                </run>
            </ebizmarts_autoresponder>
        </jobs>
    </crontab>
    <default>
        <ebizmarts_autoresponder>
            <neworder>
                <mandrill-tag>Autoresponder_NewOrder</mandrill-tag>
            </neworder>
            <related>
                <mandrill-tag>Autoresponder_RelatedProducts</mandrill-tag>
            </related>
            <review>
                <mandrill-tag>Autoresponder_Review</mandrill-tag>
            </review>
            <birthday>
                <mandrill-tag>Autoresponder_Birthday</mandrill-tag>
            </birthday>
            <registration>
                <mandrill-tag>Autoresponder_Registration</mandrill-tag>
            </registration>
            <newsletter>
                <mandrill-tag>Autoresponder_NewsLetter</mandrill-tag>
            </newsletter>
            <noactivity>
                <mandrill-tag>Autoresponder_NoCustomerActivity</mandrill-tag>
            </noactivity>
            <wishlist>
                <mandrill-tag>Autoresponder_WishlistAdd</mandrill-tag>
            </wishlist>
        </ebizmarts_autoresponder>
    </default>
</config>